<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shoham.net</title>
</head>
<body>
<form action="/login" method = "post">
    <input type = "submit" value="Login">
</form>
<form action="/signup" method = "post">
    <input type = "submit" value="Sign Up">
</form>
<div class="text">
    <h1 id="debug-output"></h1>
</div>
</body>
</html>