<html lang="en">
<head>
    <script src="/js/script.js"></script>
    <title>Shoham.net</title>
</head>
<body>
<form action="/login" method = "post">
    <input class="name" type="text" name="name">
    <input class="pass" type="password" name="password">
    <input type = "submit">
</form>
<div class="text">
    <h1 id="debug-output"></h1>
</div>
</body>
</html>