<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
</head>
<body>
<form action="/login/submit" method = "post">
  <label>
    <input class="name" type="text" name="name">
  </label>
  <label>
    <input class="pass" type="password" name="password">
  </label>
  <input type = "submit" value="Login">
</form>
<div class="text">
  <h1 id="debug-output"></h1>
</div>
</body>
</html>